- var imgPath = "/images/dashboard/";
div#dashboard
	nav
		img(src="#{imgPath}topNav.png")
	#wrapper
		.panels			
			- for (var i=0; i<3; i++)
				div(class="slide slide#{i+1} hiddenTop")
					img(src="#{imgPath}panel#{i+1}.png")

		.video
			img(src="#{imgPath}video.png")


